Repository Eazymov/checked: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

add .prettierignore
  .prettierignore
Due: none

add .flowconfig
  .flowconfig
Due: none

add flow-coverage.json
  flow-coverage.json
Due: prettier --check

add .eslintrc.js
  .eslintrc.js
Due: eslint, prettier --check

add .babelrc.js
  .babelrc.js
Due: eslint, prettier --check

add jest.config.js
  jest.config.js
Due: eslint, prettier --check

add tsconfig.json
  tsconfig.json
Due: prettier --check

add .travis.yml
  .travis.yml
Due: none

add package.json, add dependencies
  package.json
  yarn.lock
Due: prettier --check

add implementation for isString, isNumber
  src/index.d.ts
  src/index.js
  src/isNumber/index.d.ts
  src/isNumber/index.js
  src/isString/index.d.ts
  src/isString/index.js
Due: eslint, prettier --check

add lint-staged
  package.json
  yarn.lock
Due: prettier --check

add flow typings for jest
  flow-typed/npm/jest_v24.x.x.js
Due: eslint, prettier --check

update tsconfig.json
  tsconfig.json
Due: prettier --check

update .eslintrc.js
  .eslintrc.js
Due: eslint, prettier --check

add tests
  src/isNumber/isNumber.test.js
  src/isNumber/isNumber.test.js.flow
  src/isNumber/isNumber.test.ts
  src/isString/isString.test.js
  src/testHelpers.js
Due: eslint, prettier --check

update .eslintignore
  .eslintignore
Due: none

add flow typings for yargs and jest
  flow-typed/npm/jest_v24.x.x.js
  flow-typed/npm/yargs_v10.x.x.js
Due: eslint, prettier --check

add build script
  build.js
Due: eslint, prettier --check

update package.json, scripts and deps
  package.json
  yarn.lock
Due: prettier --check

add prettier dev dependency
  package.json
  yarn.lock
Due: prettier --check

test(isString): add tests for flow/typescript types
  src/isString/isString.test.js.flow
  src/isString/isString.test.ts
Due: eslint, prettier --check

feat(isDef): add implementation + tests
  src/index.js
  src/isDef/index.d.ts
  src/isDef/index.js
  src/isDef/isDef.test.js
  src/isDef/isDef.test.js.flow
  src/isDef/isDef.test.ts
Due: eslint, prettier --check

chore: add commitlint
  .huskyrc.json
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint, prettier --check

fix(src/index.d.ts): add isDef reexport
  src/index.d.ts
Due: none

feat(isFunc): add implementation
  src/index.js
  src/isUndef/index.d.ts
  src/isUndef/index.js
Due: eslint, prettier --check

test(isFunc): add unit and type tests
  src/isUndef/isUndef.test.js
  src/isUndef/isUndef.test.js.flow
  src/isUndef/isUndef.test.ts
Due: eslint, prettier --check

chore(commitlint): update config
  commitlint.config.js
Due: eslint, prettier --check

feat(isFunc): add implementation
  src/index.js
  src/isFunc/index.d.ts
  src/isFunc/index.js
Due: eslint, prettier --check

test(isFunc): add unit and type tests
  src/isFunc/isFunc.test.js
  src/isFunc/isFunc.test.js.flow
  src/isFunc/isFunc.test.ts
Due: eslint, prettier --check

fix: add re-exports for isFunc & isUndef
  src/index.d.ts
Due: none

feat(isNull): add implementation
  src/index.d.ts
  src/index.js
  src/isNull/index.js
Due: eslint, prettier --check

test(isNull): add type and unit tests
  src/isNull/index.d.ts
  src/isNull/isNull.test.js
  src/isNull/isNull.test.js.flow
  src/isNull/isNull.test.ts
Due: eslint, prettier --check

feat(isBool): add implementation
  src/index.d.ts
  src/index.js
  src/isBool/index.d.ts
  src/isBool/index.js
Due: eslint, prettier --check

test(isBool): add type and unit tests
  src/isBool/isBool.test.js
  src/isBool/isBool.test.js.flow
  src/isBool/isBool.test.ts
  src/testHelpers.js
Due: eslint, prettier --check

feat(isTrue): add implementation
  src/index.d.ts
  src/index.js
  src/isTrue/index.d.ts
  src/isTrue/index.js
Due: eslint, prettier --check

test(isTrue): add type and unit tests
  src/isBool/isBool.test.js
  src/isTrue/isBool.test.js
  src/isTrue/isBool.test.js.flow
  src/isTrue/isBool.test.ts
  src/testHelpers.js
Due: eslint, prettier --check

refactor: refactor tests
  src/isBool/isBool.test.js
  src/isTrue/isBool.test.js
  src/testHelpers.js
Due: eslint, prettier --check

feat(isFalse): add implementation
  src/index.d.ts
  src/index.js
  src/isFalse/index.d.ts
  src/isFalse/index.js
Due: eslint, prettier --check

test(isFalse): add type and unit tests
  src/isFalse/isBool.test.js
  src/isFalse/isBool.test.js.flow
  src/isFalse/isBool.test.ts
Due: eslint, prettier --check

feat(isArray): add implementation
  src/index.d.ts
  src/index.js
  src/isArray/index.d.ts
  src/isArray/index.js
Due: eslint, prettier --check

Path conditions:
  eslint: any of: *.{js,flow}
  prettier --check: any of: *.{js,flow,json,,md}
